In [1]:
import pandas as pd
train_data = pd.read_csv('./combined_data.csv')

In [2]:
fc_year = 'rainfall_train.fc_year'
fc_month = 'rainfall_train.fc_month'
fc_day = 'rainfall_train.fc_day'
fc_hour = 'rainfall_train.fc_hour'
stn4contest = 'rainfall_train.stn4contest'
dh = 'rainfall_train.dh'
ef_year = 'rainfall_train.ef_year'
ef_month = 'rainfall_train.ef_month'
ef_day = 'rainfall_train.ef_day'
ef_hour = 'rainfall_train.ef_hour'
v01 = 'rainfall_train.v01'
v02 = 'rainfall_train.v02'
v03 = 'rainfall_train.v03'
v04 = 'rainfall_train.v04'
v05 = 'rainfall_train.v05'
v06 = 'rainfall_train.v06'
v07 = 'rainfall_train.v07'
v08 = 'rainfall_train.v08'
v09 = 'rainfall_train.v09'
vv = 'rainfall_train.vv'
class_interval = 'rainfall_train.class_interval'

In [43]:
# 원래 값을 저장
original_fc_year = train_data['rainfall_train.fc_year'].unique()
original_ef_year = train_data['rainfall_train.ef_year'].unique()
original_stn4contest = train_data['rainfall_train.stn4contest'].unique()

In [44]:
print(original_ef_year)

[0 1 2 3]

In [45]:
print(original_stn4contest)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24]

In [3]:
print(train_data.dtypes)

Unnamed: 0                       float64
rainfall_train.fc_year            object
rainfall_train.fc_month            int64
rainfall_train.fc_day              int64
rainfall_train.fc_hour             int64
rainfall_train.stn4contest        object
rainfall_train.dh                  int64
rainfall_train.ef_year            object
rainfall_train.ef_month            int64
rainfall_train.ef_day              int64
rainfall_train.ef_hour             int64
rainfall_train.v01                 int64
rainfall_train.v02                 int64
rainfall_train.v03                 int64
rainfall_train.v04                 int64
rainfall_train.v05                 int64
rainfall_train.v06                 int64
rainfall_train.v07                 int64
rainfall_train.v08                 int64
rainfall_train.v09                 int64
rainfall_train.vv                float64
rainfall_train.class_interval    float64
dtype: object

In [4]:
train_data.isnull().sum()

Unnamed: 0                        122000
rainfall_train.fc_year                 0
rainfall_train.fc_month                0
rainfall_train.fc_day                  0
rainfall_train.fc_hour                 0
rainfall_train.stn4contest             0
rainfall_train.dh                      0
rainfall_train.ef_year                 0
rainfall_train.ef_month                0
rainfall_train.ef_day                  0
rainfall_train.ef_hour                 0
rainfall_train.v01                     0
rainfall_train.v02                     0
rainfall_train.v03                     0
rainfall_train.v04                     0
rainfall_train.v05                     0
rainfall_train.v06                     0
rainfall_train.v07                     0
rainfall_train.v08                     0
rainfall_train.v09                     0
rainfall_train.vv                1170575
rainfall_train.class_interval    1170575
dtype: int64

In [5]:
# 카테고리형 변환
train_data['rainfall_train.fc_year'] = train_data['rainfall_train.fc_year'].astype('category').cat.codes
train_data['rainfall_train.ef_year'] = train_data['rainfall_train.ef_year'].astype('category').cat.codes
train_data['rainfall_train.stn4contest'] = train_data['rainfall_train.stn4contest'].astype('category').cat.codes

In [6]:
train_data.head()

,Unnamed: 0,rainfall_train.fc_year,rainfall_train.fc_month,rainfall_train.fc_day,rainfall_train.fc_hour,rainfall_train.stn4contest,rainfall_train.dh,rainfall_train.ef_year,rainfall_train.ef_month,rainfall_train.ef_day,...,rainfall_train.v02,rainfall_train.v03,rainfall_train.v04,rainfall_train.v05,rainfall_train.v06,rainfall_train.v07,rainfall_train.v08,rainfall_train.v09,rainfall_train.vv,rainfall_train.class_interval
0,1.0,0,5,1,9,0,3,0,5,1,...,0,0,0,0,0,0,0,0,NaN,NaN
1,2.0,0,5,1,9,0,6,0,5,1,...,0,0,0,0,0,0,0,0,NaN,NaN
2,3.0,0,5,1,9,0,9,0,5,1,...,0,0,0,0,0,0,0,0,NaN,NaN
3,4.0,0,5,1,9,0,12,0,5,1,...,0,0,0,0,0,0,0,0,NaN,NaN
4,5.0,0,5,1,9,0,15,0,5,2,...,0,0,0,0,0,0,0,0,NaN,NaN

In [17]:
intervals = [0.05, 0.15, 0.35, 0.75, 1.5, 3.5, 8.5, 15.0, 25.0]

In [55]:
# 각 확률값을 실제 확률로 (0.0~1.0)
for col in [v01, v02, v03, v04, v05, v06, v07, v08, v09]:
    train_data[col] = train_data[col]/100

In [19]:
features = [
    fc_year, fc_month, fc_day, fc_hour, stn4contest, dh,
      ef_year, ef_month, ef_day, ef_hour, 
       v01, v02, v03, v04, v05, v06, v07, v08, v09]

In [20]:
X = train_data[features]
y = train_data[vv]

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
# 데이터 스케일링
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [24]:
# 각 구간 중간값 * 해당 확률 값 합산-> 예상 강수량 계산
train_data [vv] = (
        intervals[0] * train_data['rainfall_train.v01'] +
        intervals[1] * train_data['rainfall_train.v02'] +
        intervals[2] * train_data['rainfall_train.v03'] +
        intervals[3] * train_data['rainfall_train.v04'] +
        intervals[4] * train_data['rainfall_train.v05'] +
        intervals[5] * train_data['rainfall_train.v06'] +
        intervals[6] * train_data['rainfall_train.v07'] +
        intervals[7] * train_data['rainfall_train.v08'] +
        intervals[8] * train_data['rainfall_train.v09']
    )

In [25]:
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor

# 모델
rf = RandomForestRegressor(n_estimators=100, random_state=42)
etr = ExtraTreesRegressor(n_estimators=100, random_state=42)

models = {
    'rf' : RandomForestRegressor(n_estimators=100, random_state=42),
    'etr' : ExtraTreesRegressor(n_estimators=100, random_state=42)}

In [26]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import RandomizedSearchCV
import numpy as np

sample_size = 200000
X_train_sample = X_train.sample(n=sample_size, random_state=42)
y_train_sample = y_train.loc[X_train_sample.index]

models = {
    'etr': etr,
    'rf': rf
}

param_distributions = {
    'etr': {
        'n_estimators': np.arange(100, 300, 100),
        'max_features': ['sqrt', 'log2'],  # 'auto' 대신 'sqrt' 또는 'log2' 사용
        'max_depth': [None] + list(np.arange(10, 110, 10)),
        'min_samples_split': np.arange(2, 20, 2),
        'min_samples_leaf': np.arange(1, 20, 2)
    },
    'rf': {
        'n_estimators': np.arange(100, 300, 100),
        'max_features': ['sqrt', 'log2'],  # 'auto' 대신 'sqrt' 또는 'log2' 사용
        'max_depth': [None] + list(np.arange(10, 110, 10)),
        'min_samples_split': np.arange(2, 20, 2),
        'min_samples_leaf': np.arange(1, 20, 2)
    }
}

In [27]:
best_estimators = {}

for name, model in models.items():
    random_search = RandomizedSearchCV(model, param_distributions[name], n_iter=50, cv=3,
                                       scoring='neg_mean_squared_error', n_jobs=-1, verbose=1)
    random_search.fit(X_train_sample, y_train_sample)
    best_estimators[name] = random_search.best_estimator_
    print(f"{name} 최적 파라미터: {random_search.best_params_}")

    predictions = random_search.predict(X_test)
    mse = mean_squared_error(y_test, predictions)
    print(f"{name} 검증 mse : {mse}")

    test_score1 = r2_score(y_test, predictions)
    print(f"{name} test score r2: {test_score1}")

# 최적 모델-전체 데이터 다시 학습
for name, best_estimators in best_estimators.items():
    best_estimators.fit(X_train, y_train)
    # 최적 모델-전체 데이터 성능 평가
    train_score = best_estimators.score(X_train, y_train)
    predictions = best_estimators.predict(X_test)

    mse = mean_squared_error(y_test, predictions)
    test_score = r2_score(y_test, predictions)

    print(f"{name} 최종 모델 train score : {train_score}")
    print(f"{name} 최종 모델 test mse : {mse}")
    print(f"{name} 최종 모델 test score r2 : {test_score}")

Fitting 3 folds for each of 50 candidates, totalling 150 fits
etr 최적 파라미터: {'n_estimators': 200, 'min_samples_split': 4, 'min_samples_leaf': 1, 'max_features': 'sqrt', 'max_depth': 100}
etr 검증 mse : 0.0026115326270722654
etr test score r2: 0.9991499799906414
Fitting 3 folds for each of 50 candidates, totalling 150 fits
rf 최적 파라미터: {'n_estimators': 100, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'sqrt', 'max_depth': 100}
rf 검증 mse : 0.0027239717761267873
rf test score r2: 0.9991133825054939
etr 최종 모델 train score : 0.99995933589752
etr 최종 모델 test mse : 0.0009905576792292945
etr 최종 모델 test score r2 : 0.9996775863188381
rf 최종 모델 train score : 0.9999270987027448
rf 최종 모델 test mse : 0.0009846719680795756
rf 최종 모델 test score r2 : 0.999679502041504

In [37]:
import joblib
joblib.dump(best_estimators, f'{name}_model.pkl')
print(f"{name} 모델이 '{name}_model.pkl' 파일로 저장되었습니다.")

rf 모델이 'rf_model.pkl' 파일로 저장되었습니다.

In [ ]:
def output():
    import pandas as pd
    test_predictions_series = pd.Series(predictions)

In [28]:
import pandas as pd

# 예측 결과를 pandas 시리즈로 변환
test_predictions_series = pd.Series(predictions)

In [29]:
print(predictions)

[4.750000e-04 0.000000e+00 4.960000e-03 ... 3.740695e+00 2.129600e-01
 5.471400e-01]

In [30]:
print(f"{best_estimators} 최종 모델 train score : {train_score}")
print(f"{best_estimators} 최종 모델 test score : {test_score}")

RandomForestRegressor(max_depth=100, max_features='sqrt', random_state=42) 최종 모델 train score : 0.9999270987027448
RandomForestRegressor(max_depth=100, max_features='sqrt', random_state=42) 최종 모델 test score : 0.999679502041504

In [31]:
# 예측 값 -> class_interval
def vv_to_class_interval(vv):
    if vv <= 0.1:
        return 0
    elif 0.1< vv <= 0.2:
        return 1
    elif 0.2 < vv <= 0.5:
        return 2
    elif 0.5 < vv <= 1.0:
        return 3
    elif 1.0 < vv <= 2.0:
        return 4
    elif 2.0 < vv <= 5.0:
        return 5
    elif 5.0 < vv <= 10.0:
        return 6
    elif 10.0 < vv <= 20.0:
        return 7
    elif 20.0 < vv <= 30.0:
        return 8
    else :
        return 9

In [32]:
train_data[vv]=test_predictions_series
print(train_data[vv])

0          0.000475
1          0.000000
2          0.004960
3          1.451520
4          0.000000
             ...
1170570         NaN
1170571         NaN
1170572         NaN
1170573         NaN
1170574         NaN
Name: rainfall_train.vv, Length: 1170575, dtype: float64

In [46]:
# 예측 결과에 함수 적용
train_data['rainfall_test.class_interval'] = test_predictions_series.apply(vv_to_class_interval)

# 결과 확인
print(train_data['rainfall_test.class_interval'])

0          0.0
1          0.0
2          0.0
3          4.0
4          0.0
          ...
1170570    NaN
1170571    NaN
1170572    NaN
1170573    NaN
1170574    NaN
Name: rainfall_test.class_interval, Length: 1170575, dtype: float64

In [53]:
# 실제 확률을 다시 원래의 확률값으로
for col in [v01, v02, v03, v04, v05, v06, v07, v08, v09]:
    train_data[col] = train_data[col]*100

In [56]:
train_data.to_csv('./combined_data_result.csv', index=False)